body{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.gridDiv{
	height: 48px;
	width: 48px;
	border: 1px solid rgb(155, 155, 155);
}

#container{
  display: flex;
  width: 800px;
  background-color: red;
  flex-wrap: wrap;
}

#acontainer{
  display: flex;
  gap: 20px;
}

#resize-button{
  border: none;
  padding: 8px 11px;
  margin-bottom: 13px;
  font-size: large;
}